body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation start*/
.navbar {
    text-align: center;
    overflow: hidden;

}


/*Dropdown start*/
.dropdown {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 20%;

}


.dropdown .dropbutton {
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    font-family: "playfair display";
    font-weight: bolder;
    font-size: 1.5em;
            cursor: pointer;

}

.dropdown .dropbutton:hover {
    color: #F9C553;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: rgba(192, 192, 192, 0.5);
    width: 20%;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "playfair display";
    font-weight: bolder;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/*Dropdown slut*/

/*Navigation slut*/
/*Centreret logo start*/


.tblogo {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

/*logo slut*/
/*Header baggrundsbillede start*/

.forsideheader {
    background: url("../images/forsideskib.jpg") no-repeat center center;
    background-size: cover;
    height: 30%;
    width: 100%;
    padding-bottom: 17%;
}

/*Header baggrundsbillede start*/
/*Søge felt starter her*/

.soegefelt {
    margin-top: 3%;
    margin-left: 88%;
    position: absolute;
    
}


/*følgende kode er lånt her: https://codepen.io/912lab/pen/LsplC*/

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "roboto";
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: url("../images/soeg.svg") no-repeat 2px center;
    border: solid 2px transparent;
    padding: 6px 8px 6px 25px;
    width: 35px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
   


}

input[type=search]:focus {
    width: 130px;
    background-color: transparent;
    border-color: darkgrey;
    -webkit-box-shadow: 0 0 4px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 4px rgba(109, 207, 246, .5);
    box-shadow: 0 0 4px rgba(109, 207, 246, .5);
}


/* Demo 2 */
#demo-2 input[type=search] {
    width: 18px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:hover {
    background-color: transparent;
}

#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 15px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}

#demo-2 input:-moz-placeholder {
    color: transparent;

}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

/* lånt søgefelt kode slutter her*/

/*søgefelt slut*/

/*mobil/tablet menu start
    nedenstående er lånt fra https://codepen.io/slyka85/pen/LbXYKQ?editors=1111 */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

#menu-container > a > img {
    width: 25%;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    margin-left: 1240%;
    margin-top: 35%;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}

#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}

#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}

#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}

#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;

}

#menu-container .menu-list {
    margin-top: 10%;
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: #EFEDDD;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
    margin-top: 4.9%;
}

#menu-container .menu-list li.accordion-toggle,
#menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    border-top: 1px solid transparent;
    font-family: "playfair display";
}

#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle,
.accordion-content {
    cursor: pointer;
    font-size: 16px;
    font-family: "roboto";
    font-weight: lighter;
    position: relative;
    letter-spacing: 1px;
    line-height: 2em;
}

.accordion-content {
    display: none;
}

.accordion-toggle a:before,
.accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: black;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
    transition: all 0.3s ease;
}

.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: black !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: black !important;
    opacity: 0;
}


/*mobil/tablet menu slut*/


/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {


    .navbar {
        display: none;
    }


    .soegefelt {
        display: none;
    }


    .soegefelt-mobil {
        margin-left: 5%;
        padding-bottom: 3%;
    }



}


/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {


    /*HEADER NAV*/


    .navbar {
        display: none;
    }


    .soegefelt {
        display: none;
    }

    .soegefelt-mobil {
        width: 4%;
        margin-left: 4%;
        padding-bottom: 3%;
    }


    #menu-wrapper #hamburger-menu span {
        margin-top: 60%;
        margin-left: 2700%;

    }

    #menu-container > a > img {
        width: 16%;
        margin-top: 3%;
    }

    #menu-container .menu-list {
        max-width: 810px;

    }
}



/*MEDIA LAPTOP*/


@media all and (min-width: 1024px) {

    .navbar {
        display: inherit;
    }

    #hamburger-menu {
        display: none;
    }

    #menu-container > a > img {
        display: none;
    }

    .soegefelt-mobil {
        display: none;
    }

    .soegefelt {
        display: inherit;
    }    
}
